# /etc/systemd/system/display.service

[Unit]
Description=Inky alarm display
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/inky-alarm/display
LimitNOFILE=8192
PIDFile=/run/display/display.pid
ExecStart=/home/pi/inky-alarm/.venv/bin/python display.py
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
